:root {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: #8a393e;
  background-color: #dfceaf;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  display: flex;
  height: 100%;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.6em;
  line-height: 1;
}

button {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.social-links-home {
  position: absolute;
  bottom: 12px;
  left: 28px;
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.navbar {
  width: 130px;
  margin: 20px 10px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  height: 100vh;
}

.folder-button {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  outline: none;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.folder-button.active {
  color: #461a1d;
}

.folder-button.active .icon-wrapper svg path {
  fill: #461a1d;
}

.folder-button.active .folder-title {
  color: #461a1d;
  font-weight: bold;
}

.icon-wrapper {
  width: 80px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.folder-title {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #8a393e;
  text-transform: lowercase;
  letter-spacing: 1px;
  transition: opacity 0.4s ease;
}

.folder-button:hover {
  transform: translateY(-5px);
}

.folder-button:hover .icon-wrapper {
  transform: scale(1.1);
}

.folder-button:active {
  transform: translateY(-2px) scale(0.98);
}
